<div class="container card col-lg-6 mt-3">
  <div class="col-lg-12" style="padding: 25px">
    <div
      class="card-header text-center"
      style="background-color: darkblue; color: white"
    >
      <h4>Cadastro de Anúncio</h4>
    </div>
    <form (ngSubmit)="salvarAnuncio()" [formGroup]="form">
      <div class="card-body row">
        <div class="form-group col-md-12">
          <label for="descricao">Descrição</label>
          <input
            type="text"
            class="form-control"
            formControlName="descricao"
            [(ngModel)]="anuncio.descricao"
            placeholder="Digite a descrição do seu anúncio"
            [ngClass]="{
              'is-invalid': f.descricao.errors && f.descricao.touched
            }"
          />
          <div *ngIf="f.descricao.errors?.required" class="invalid-feedback">
            Descrição é obrigatória
          </div>
          <div *ngIf="f.descricao.errors?.minlength" class="invalid-feedback">
            Descrição deve ter no mínimo 4 caracteres
          </div>
          <div *ngIf="f.descricao.errors?.maxlength" class="invalid-feedback">
            Descrição deve ter no máximo 150 caracteres
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Válido até</label>
          <input
            type="date"
            class="form-control"
            formControlName="data_validade"
            [ngClass]="{
              'is-invalid': f.data_validade.errors && f.data_validade.touched
            }"
            [(ngModel)]="anuncio.data_validade"
          />
          <div
            *ngIf="f.data_validade.errors?.required"
            class="invalid-feedback"
          >
            Defina uma data de validade.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Categoria</label>
          <select
            id="categoriaId"
            class="form-control"
            formControlName="categoria"
            [ngClass]="{
              'is-invalid': f.categoria.errors && f.categoria.touched
            }"
          >
            <option *ngIf="IsEdicao" [selected]>{{ anuncio.categoria.descricao }}</option>
            <option *ngIf="!IsEdicao" selected> Selecione </option>
            <option *ngFor="let categoria of categorias" value="categoria.id">{{ categoria.descricao }}</option>
          </select>
          <div *ngIf="f.categoria.errors?.required" class="invalid-feedback">
            Escolha uma categoria.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="preco">Preço</label>
          <input
            type="text"
            class="form-control"
            formControlName="preco"
            [(ngModel)]="anuncio.preco"
            id="preco"
            placeholder="Ex: R$23,99"
            mask="separator.2"
            thousandSeparator="."
            decimalMarker=","
            prefix="R$"
            [ngClass]="{ 'is-invalid': f.preco.errors && f.preco.touched }"
          />
          <div *ngIf="f.preco.errors?.required" class="invalid-feedback">
            Defina um preço.
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4" for=""> Selecione a Imagem do Produto</label>
          <input
            type="file"
            #file
            (change)="onFileChange($event)"
            style="display: none"
            formControlName="imagem"
            [ngClass]="{ 'is-invalid': f.imagem.errors && f.imagem.touched }"
          />
            <img
              class="image col-md-4"
              [src]="imagemUrl"
              (click)="file.click()"
              style="width: 20%"
              tooltip="Upload de nova Imagem"
            />
          <div *ngIf="f.imagem.errors.required" class="invalid-feedback">
            Escolha uma imagem.
          </div>
        </div>
      </div>
    </form>
    <div class="card-footer" style="margin: 10px">
      <button
        class="btn btn-dark"
        style="margin-right: 15px"
        [routerLink]="['/gerencial-empresa']"
      >
        Voltar
      </button>
      <button type="submit" class="btn btn-success">Salvar</button>
    </div>
  </div>
</div>
