<div>
  <header
    style="
      background-color: darkblue;
      margin: 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 99;
    "
  >
    <section class="header-main border-bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-2 col-lg-3 col-md-12">
            <a routerLink="" class="brand-wrap" style="color: white">
              <span class="logo">PRECOFAVORITO.COM</span>
              <span class="subTitleLogo">Os melhores preços da cidade!</span>
            </a>
            <!-- brand-wrap.// -->
          </div>
          <div class="col-xl-6 col-lg-5 col-md-6">
            <form class="search-header">
              <div class="input-group w-100">
                <input
                  type="text"
                  class="form-control"
                  placeholder="O que você precisa?"
                  name="descricao"
                  [(ngModel)]="descricao"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-success"
                    type="submit"
                    (click)="buscarAnunciosPorDescricao()"
                  >
                    <i class="fa fa-search"></i> Buscar
                  </button>
                </div>
              </div>
            </form>
            <!-- search-wrap .end// -->
          </div>
          <!-- col.// -->
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="widgets-wrap float-md-right">
              <div class="widget-header mr-3">
                <a href="#" class="widget-view">
                  <div class="icon-area">
                    <i class="fa fa-user" style="color: white"></i>
                    <span class="notify">3</span>
                  </div>
                  <small class="text" style="color: white"> Meu Perfil </small>
                </a>
              </div>
              <!-- <div class="widget-header mr-3">
                            <a href="#" class="widget-view">
                                <div class="icon-area">
                                    <i class="fa fa-comment-dots" style="color: white;"></i>
                                    <span class="notify">1</span>
                                </div>
                                <small class="text" style="color: white;"> Mensagens </small>
                            </a>
                        </div> -->
              <div class="widget-header mr-3">
                <a [routerLink]="['/gerencial-empresa']" class="widget-view">
                  <div class="icon-area" style="color: white">
                    <i class="fa fa-store"></i>
                  </div>
                  <small class="text" style="color: white"> Gerencial </small>
                </a>
              </div>
              <div class="widget-header">
                <a href="#" class="widget-view">
                  <div class="icon-area">
                    <i class="fa fa-address-book" style="color: white"></i>
                  </div>
                  <small class="text" style="color: white">
                    Administração
                  </small>
                </a>
              </div>
            </div>
            <!-- widgets-wrap.// -->
          </div>
          <!-- col.// -->
        </div>
        <!-- row.// -->
      </div>
      <!-- container.// -->
    </section>
    <!-- header-main .// -->
  </header>
</div>
<section class="padding-bottom-sm">
  <header>
    <h5 class="text-uppercase textPromocaoTitle">
      Os melhores Preços estão aqui, confira!
    </h5>
  </header>
  <div class="row col-xl-12 col-lg-4 col-md-3 col-sm-2">
    <div *ngFor="let anuncio of anuncios">
      <a
        [routerLink]="['/detalhes-anuncio', anuncio.id]"
        title="Clique e saiba mais"
      >
        <div class="col-xl-12 col-lg-4 col-md-3 col-sm-2">
          <div class="card cardAnuncio" *ngIf="anuncios != null">
            <img
              class="img-wrap"
              src="https://localhost:5001/resources/images/{{
                anuncio.imagem_url
              }}"
            />
            <figcaption class="info-wrap">
              <p class="descricao">{{ anuncio.descricao }}</p>
              <p class="informacoes text-center">
                Promoção até {{ anuncio.data_validade | date : "dd/MM/yy" }}
              </p>
              <p class="informacoes text-center">
                <i class="fa fa-shopping-cart"></i>
                {{ anuncio.empresa.nome_fantasia }}
              </p>
              <p class="preco">
                {{ anuncio.preco | currency : "BRL" }}
              </p>
            </figcaption>
          </div>
          <div *ngIf="anuncios == null">
            <p>Nenhum anúncio para mostrar.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<!-- =============== SECTION ITEMS .//END =============== -->
